@font-face {
    font-family: 'AvenirLTStd';
    src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirLTStd-Light.woff') format('woff'), url('fonts/AvenirLTStd-Light.ttf') format('truetype'),
}
html, body, .wrapper {
    height: 100%;
}
body {
    font-family: Lato!important;
    font-size: 15px!important;
    color: #59595a;
}
body.login-main {
    color: #FFF;
    height: auto;
}
body.login-main .logo {
    background-color: #FFF;
    text-align: center;
    height: auto;
}
body.login-main .logo a {
    width: 100px;
    padding: 10px 0;
}
body.login-main .wrapper {
    background-color: transparent;
    background-image: url(/images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
body.login-main .border-top {
    margin-top: 50px;
}
body.login-main .container {
    background-color: #002b61;
    width: 50%;
    margin: 50px auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
body.login-main .login-reg-form {
    width: 500px;
    margin-bottom: 151px;
}
body.login-main .btn {
    background-color: #FFF;
    color: #666;
}
body.login-main footer {
    background-color: #242424;
    padding: 30px 0;
    font-size: 12px;
}
body.login-main footer p {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0!important;
}
small {
    font-size: 30%!important;
}
.form-row {
    margin: 15px 0;
    overflow: hidden;
}
input,
textarea {
    background: transparent;
    border: 2px solid #d6d3dd;
    padding: 10px 20px;
    width: 100%;
}
input[type=checkbox], input[type=radio] {
    width: auto;
}
select {
    background: transparent;
    border: 2px solid #d6d3dd;
    padding: 3px 10px;
}
.fullw {
    width: 100%;
    padding: 10px;
}
.btn {
    width: initial;
    background-color: #8a8a8c;
    color: #FFF;
    padding: 5px 60px!important;
    border-radius: 30px!important;
    font-size: 14px!important;
    font-weight: 300!important;
}
.btn:hover {
}   color: #ffffff;
.blue {
    color: #2d3a66;
}
.gray {
    color: #a5acb4;
}
.red {
    color: #be3327;
}
.red-line {
    border-left: 4px solid #be3327;
    padding-left: 10px;
    color: #5c636c;
}
.green {
    color: #1da349;
}
.move-right {
    margin-right: 20px;
}
.padding-bottom {
    padding-bottom: 20px;
}
.border-top {
    margin-top: 20px;
}
.border-bottom {
    margin-bottom: 20px;
}
.login-reg-form {
    width: 400px;
    margin: 60px auto;
}
.wrapper {
    background-color: #f2f3f3;
}
.sidebar {
    background-color: #bf3427;
    width: 100px;
    position: absolute;
    height: 100%;
}
.logo {
    background-color: #1e2f5f;
    text-align: center;
    height: 86px;
}
.logo a {
    display: block;
    width: 50px;
    margin: auto;
    padding-top: 14px;
}
.logo a img {
    width: 100%;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.sidebar .nav li a {
    display: block;
    width: 36px;
    margin: auto;
}
.sidebar .nav li a img {
    width: 100%;
}
#mobileMenu {
    background-color: #f1f2f3;
    width: 100%;
}
header.sub {
    overflow: hidden;
    padding: 20px 0;
}
.main-panel {
    width: 100%;
    padding-left: 100px;
    overflow: hidden;
    background-color: #bf3427;
}
.panel-inner {
    overflow: hidden;
    background-color: #f1f2f3;
}
.nav ul {
    text-align: center;
}
.nav ul li {
    margin: 30px 0;
}
.main-header {
    background-color: #303f6c;
    height: 86px;
}
.top-nav {
    padding: 18px 5px;
}
.top-nav ul li:first-child {
    padding-left: 15px;
}
ul.nav li a {
    color: #89949f!important;
    font-size: 18px;
}
ul.nav li a:hover {
    color: #cdd4db!important;
    background-color: transparent!important;
    font-size: 18px;
}
#user {
    background-color: #1e2f5f;
    padding: 12px 25px;
}
#user a {
    color: #929aa2;
    font-family: 'AvenirLTStd';
    cursor: pointer;
}
#user a:hover {
    text-decoration: none;
    color: #FFF;
}
#user img {
    margin-right: 15px;
}
#user .fa {
    padding-left: 10px;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFF;
    position: absolute;
    left: 90px;
    z-index: 99999999999;
    top: 125px;
}
.dropdown-menu>li>a:hover {
    color: #000!important;
}
.heading {
    padding: 30px 35px;
    background-color: #FFF;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(204,204,204,1);
    box-shadow: 1px 1px 5px 0px rgba(204,204,204,1);
    width: 100%;
}
.heading h1 {
    margin: 0!important;
    color: #6c757e;
    font-size: 28px;
}
.panel-top {
    padding-top: 20px;
}
.help h1 {
    color: #1d305e;
    font-size: 25px;
}
.custom-panel {
    padding: 20px 0 20px 0;
    background-color: #FFF;
    margin-top: 30px;
    overflow: hidden;
    color: #777677;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(204,204,204,1);
    box-shadow: 1px 1px 5px 0px rgba(204,204,204,1);
}
.padding-lr {
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    font-size: 26px;
}
.panel-inner {
    overflow: hidden;
    background-color: #f1f2f3;
    width: 100%;
}

.element.style {
    padding: 30px;
}

.main-panel form {
    padding: 35px 0 35px 15px;
}
.sub-header {
    padding: 30px 0;
    overflow: hidden;
}
.sub-header h3 {
    margin: 0;
}
.sub-header select {
    border: 1px solid #DDD;
    background: transparent;
    padding: 5px 0;
    margin: 0 5px;
}
.bg-img {
    background-repeat: no-repeat;
    padding-left: 70px;
    background-size: 35px;
    background-position: 15px 0;
}
.bg-img h1 {
    margin: 0;
    padding-bottom: 8px;
}
.oil-bg {
    background-image: url(/images/oil-img.png);
}
.oil-bg-gray {
    background-image: url(/images/oil-img-gray.png);
}
.gas-bg {
    background-image: url(/images/gas-img.png);
}
.gas-bg-gray {
    background-image: url(/images/gas-img-gray.png);
}
.top-border {
    border-top: 1px dotted;
    font-size: 24px;
    padding-top: 10px;
}
.last-line h4,
.last-line h2 {
    margin: 10px 0;
}
.bottom-section {
    background-color: #f6f6f6;
    padding: 30px 0;
}
.number-lg,
.number-sm {
    margin-bottom: 30px;
}
.number-lg h1,
.number-sm h1 {
    margin: 0;
}
.number-lg p,
.number-sm p {
    color: #a6adb5;
    margin: 5px 0;
}
.number-sm h1 {
    font-size: 27px;
}
.number-sm h1.border-bottom {
    border-bottom: 1px dotted;
    padding-bottom: 8px;
}
.bg-img-2 {
    background-repeat: no-repeat;
    padding-top: 70px;
    background-position: 10px 5px;
}
.full select {
    width: 100%;
}
.well {
    background-color: #FFF!important;
}
.well h2, .well h1 {
    margin-top: 20px!important;
}
.well img {
    width: 100%;
}
.red-bttm {
    width: 30%;
    margin: auto;
    height: 3px;
    background-color: #be3327;
}
.active-tag {
    background-color: #429e46;
    color: #FFF;
    padding: 5px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.inactive {
    background-color: #e11414;
}
.btns ul {
    background-color: #8a8a8c;
    border-radius: 25px;
}
.btns ul li {
    display: inline-block;
}
.btns ul li:first-child a {
    border-right: 1px solid #FFF;
}
.btns ul li a {
    color: #FFF;
    padding: 5px 15px;
    display: block;
}
.table-header h1 {
    margin: 0 0 15px;
    font-size: 25px;
}
.table th {
    color: #939aa1;
    text-transform: uppercase;
    font-size: 14px;
}
.table a {
    color: #297d7d;
}
.add-user {
    padding: 30px 0;
}
.add-user form {
    padding: 0;
}
.act-img img {
    width: 100%;
    border-bottom: 3px solid #be3327;
}
header h2 {
    margin: 0;
    color: #6c757e;
}
.select-header {
    padding: 0;
    font-size: 20px;
    margin-left: 10px;
}
.report-row {
    overflow: hidden;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.report-row p {
    margin: 0;
}
.report-row h5 {
    font-size: 20px;
    margin: 0;
}
.chart-report {
    overflow: hidden;
    margin: 20px 0;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #be3327!important;
}
.ct-chart-pie .ct-label {
    fill: #FFF!important;
    color: #FFF!important;
    font-size: 1.75rem!important;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
    fill: #be3327!important;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: #2d3a66!important;
}
@media (min-width: 769px) {
    #mobileMenu {
       display: none!important;
    }
}
@media (max-width: 1024px) {
    .res-margin {
       margin: 20px 0;
    }
    body.login-main .container {
       width: auto!important;
       margin: 0 20px 50px!important;
    }
}
@media (max-width: 768px) {
    .sidebar,
    #navbar,
    .arrow-left {
        display: none;
    }
    .navbar-toggle {
        float: left!important;
        margin-top: 23px!important;
    }
    .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    .main-panel {
        width: 100%;
        padding: 0;
    }
    .main-panel form {
        padding: 0;
    }
    .table-holder {
        overflow-x: scroll;
    }
    .act-img-wrapper {
        margin-bottom: 30px;
    }
    .act-img-wrapper .pull-left,
    .act-img-wrapper .pull-right,
    .heading .pull-left,
    .heading .pull-right {
        float: none!important;
        margin: 10px 0;
    }
}
