#sidebar-menu, .main_container{

    background-color: orangered !important;
}
.nav_menu
{
    height: 55px !important;
    background-color: #2A3F54 !important;


}

.top_nav .navbar-right{
    width: 40% !important;
}
.toggle a, .navbar-right a ,.navbar-nav a{
    color: whitesmoke !important;
}
.nav.navbar-nav>li>a{
    color: whitesmoke !important;
}

.nav_title, .left_col
{
    background-color: orangered !important;
}


/*-------------------------------------------------------------------------------*/
